body{
  background-color: #686A6C;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#Photo{
  margin: auto;
  margin-top: 12%;
  width: 600px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5) ;
  border-radius: 7px;
  box-shadow: 0px 0px 10em black;
}

#Img{
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

#Form{
  margin-top: 20px;
}

#Ans1{
  margin: auto;
  width: 250px;
  margin-top: 30px;
  font-size: 20px;
}

#Ans2{
  color: #FFD70B;
  float: right;
}

#Button2{
  background-color: #FFD70B;
  border: 0px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
}

#Button2:hover{
  background-color: #FFF20B;
  border: 0px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  background-color: #FFD70B;
  border: 0px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
}

input[type=file]::file-selector-button:hover {
  background-color: #FFF20B;
  border: 0px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
